<form method="POST" action="/schedules/<%=@schedules.id%>/edit">

<label for= "name">Name:</label>
<input type ="text" id = "name" name="name"/>


<label for="shift_id">Start Time</label>
<input type ="text" id = "start_time" name="start_time"



  <input type ="submit" value"update"/>

</form>

