<h1>Employee Details</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Hours Wanted</th>
    <th></th>
    <th>Hourly Rate</th>
  </tr>
  <% for employee in @employees %>
  <tr>
    <td><%= employee.name %></td>
    <td>|</td>
    <td><%= employee.hours_wanted%></td>
    <td></td>
    <td><%= employee.hourly_rate%></td>
  </tr>
  <% end %>
</table>