<h1>Employee Details</h1>



  <% for employee in @employees %>
  
  <p>Name</p>
  
 
    <p><%= employee.name %></p>
    <p>Hours Wanted</p>
    <p><%= employee.hours_wanted%></p>
 
    <p><a href="/employees/<%=employee.id%>">More Details</a></p>
  <% end %>

