<p>Full Employee Details</p>
<p>Name: <%=@employee.name%></p>
<p>Hours: Available <%=@employee.hours_wanted%></p>
<P>Wage Rate:<%=@employee.hourly_rate%> </P>

<p><a href="/employees/<%=@employee.id%>/edit"/>Edit Employee</p>


