<!DOCTYPE html>
<html>
<head>
  <title>Rota Up!</title>
  <link rel='stylesheet' href='/style.css'/>
</head>
<body>
<nav>
  <ul>
    <li><a href="/employees" >Employees</a></li>
    <li><a href="/Home">Home</a></li>
    <li><a href="/employees/new">Add Emloyee</a></li>
    <li><a href="/schedules" >Current Rotas</a></li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>

