<form method="POST" action="/shifts">

<label for ="start_time">Start Time:</label>
<input type="text" name="start_time" id="start_time">

<label for ="end_time">End Time:</label>
<input type="text" name="end_time" id="end_time" >


<input type="submit" name="Add shift"/>

</form>